.header__wallstreet {
  background-color: #8fb339; }

.nav-item {
  background-color: #8fb339; }

footer {
  background-color: #8fb339; }

.menu__fotos {
  border: solid #8fb339; }

.menu__hamburguesas, .menu__bebidas, .menu__acompanantes {
  background-color: #8fb339; }

.oportunidades__enviar {
  background-color: #8fb339; }
