@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.menu__papas {
  color: red;
  font-size: 20rem; }

.barrio__belgrano {
  color: red; }

.barrio__nunez {
  color: violet; }

.barrio__colegiales {
  color: brown; }

.barrio__urquiza {
  color: pink; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #8fb339;
  font-size: 0.6rem;
  color: white;
  padding: 0.5rem; }

.footer__primero {
  display: flex;
  flex-direction: row;
  align-items: center; }

.footer__redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20%; }

.footer__logo {
  width: 2.5rem;
  height: 2.5rem; }

.footer__whatsapp, .footer__facebook, .footer__instagram {
  width: 2rem;
  height: 2rem; }

.header__wallstreet {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  padding: 0.3rem;
  background-color: #8fb339;
  font-family: 'Lobster', cursive; }

.wallstreet__logo {
  width: 4.5rem;
  height: 4.5rem; }

.wallstreet__header {
  font-size: 2.3rem;
  font-weight: bolder;
  color: black;
  padding-right: 0.2rem; }

.nav-item {
  margin: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: #8fb339; }

.navbar-collapse {
  flex-grow: 0; }

.navbar {
  background-image: url(../images/wallpaper.webp);
  height: 6.5rem; }

.index__mejoresburgers {
  background-color: #8fb339;
  height: 5rem;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  padding-top: 1.2rem; }

.index__container {
  background-image: url(../imagenes/indexfoto.jpg); }

.index__imagen {
  width: 100%; }

.index__burgers {
  background-image: url(../images/wallpaper.webp); }

.menu__container {
  display: grid;
  grid-template-areas: "burga burga side side" "bronx queens papas batatas" "manhattan brooklyn bebida bebida" "bigapple wallstreet gaseosa agua";
  justify-items: center;
  justify-items: center;
  align-items: center;
  background-color: black;
  color: white; }

.menu__fotos {
  height: 6rem;
  width: 6rem;
  border-radius: 80px;
  border: solid #8fb339; }

.menu__bronx, .menu__queens, .menu__manhattan, .menu__brooklyn, .menu__bigapple, .menu__wallstreet, .menu__papas, .menu__batatas, .menu__gaseosa, .menu__agua {
  height: 10rem;
  width: 16rem;
  display: flex;
  flex-direction: row;
  align-items: center; }

.bronx__descripcion, .queens__descripcion, .manhattan__descripcion, .brooklyn__descripcion, .bigapple__descripcion, .wallstreet__descripcion, .papas__descripcion, .batatas__descripcion, .gaseosa__descripcion, .agua__descripcion {
  text-align: justify;
  font-size: 0.8rem;
  margin-left: 0.7rem; }

.menu__hamburguesas, .menu__bebidas, .menu__acompanantes {
  display: flex;
  flex-direction: row;
  font-size: 1.8rem;
  padding: 0.6rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: #8fb339; }

.menu__bronx {
  grid-area: bronx; }

.menu__queens {
  grid-area: queens; }

.menu__manhattan {
  grid-area: manhattan; }

.menu__brooklyn {
  grid-area: brooklyn; }

.menu__bigapple {
  grid-area: bigapple;
  padding-bottom: 1.5rem; }

.menu__wallstreet {
  grid-area: wallstreet;
  padding-bottom: 1.5rem; }

.menu__papas {
  grid-area: papas; }

.menu__batatas {
  grid-area: batatas; }

.menu__gaseosa {
  grid-area: gaseosa;
  padding-bottom: 1.5rem; }

.menu__agua {
  grid-area: agua;
  padding-bottom: 1.5rem; }

.menu__hamburguesas {
  grid-area: burga;
  margin-top: 1.5rem; }

.menu__bebidas {
  grid-area: bebida;
  display: flex;
  flex-direction: row; }

.menu__acompanantes {
  grid-area: side;
  margin-top: 1.5rem; }

.pagina__locales {
  background-color: black;
  color: white;
  padding: 2rem; }

.locales__barrio {
  list-style-type: none;
  font-size: 1rem; }

.barrio__colegiales, .barrio__nunez {
  line-height: 1.3rem;
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.barrio__belgrano {
  line-height: 1.3rem;
  list-style-type: none;
  margin-bottom: 1rem; }

.barrio__urquiza {
  line-height: 1.3rem;
  list-style-type: none;
  margin-top: 1rem; }

.belgrano__detalles, .colegiales__detalles, .nunez__detalles, .urquiza__detalles {
  list-style-type: none; }

.locales__imagen, .oportunidades__imagen {
  margin: 0;
  padding: 0;
  padding-top: 2rem; }

.nosotros__texto {
  text-align: justify;
  padding: 4rem; }

.nosotros__imagen {
  height: 30rem;
  width: 25rem; }

.oportunidades__container {
  background-color: black;
  justify-items: center;
  align-items: center;
  min-height: 25rem; }

.oportunidades__texto {
  text-align: justify;
  color: white;
  padding: 3rem; }

.oportunidades__enviar {
  border: none;
  background-color: #8fb339; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

p {
  margin: 0; }

h1 {
  font-size: 5rem;
  margin-bottom: 0;
  font-family: 'Lobster', cursive; }

body {
  background-color: white;
  height: 100vh; }

.h1__titulo {
  text-align: center;
  background-image: url(../images/fondotitulospared.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 14rem;
  font-weight: bolder;
  vertical-align: middle; }

.h1__titulotexto {
  transform: translateY(8rem);
  color: white; }

/* media query especial navbar  */
@media (max-width: 992px) {
  .nav-item {
    width: fit-content;
    padding: 0.5rem; } }

/* media query tablet  */
@media (max-width: 768px) {
  html {
    font-size: 60%; }
  .h1__titulo {
    display: none; }
  .menu__container {
    grid-template-areas: "burga burga" "bronx queens" "manhattan brooklyn" "bigapple wallstreet" "side side" "papas batatas" "bebida bebida" "gaseosa agua"; }
  footer {
    flex-wrap: wrap; }
  .footer__primero {
    flex-wrap: wrap; }
  .footer__redes {
    flex-wrap: wrap; } }

/* media query mobile  */
@media (max-width: 360px) {
  html {
    font-size: 50%; }
  .wallstreet__header {
    display: none; }
  .belgrano__detalles, .colegiales__detalles, .urquiza__detalles, .nunez__detalles, .barrio__belgrano, .barrio__colegiales, .barrio__nunez, .barrio__urquiza {
    margin: 0;
    padding: 0; }
  .locales__mapa {
    width: 50%; }
  .nosotros__imagen {
    display: none; }
  .oportunidades__enviar {
    margin-bottom: 2rem; }
  footer {
    flex-direction: column; }
  .footer__redes {
    flex-wrap: nowrap;
    justify-content: center; } }
