.header__wallstreet, .oportunidades__enviar {
  background-color: #8fb339; }

.nav-item {
  background-color: #8fb339; }

footer {
  background-color: #8fb339; }

.menu__fotos {
  border: solid #8fb339; }

.menu__hamburguesas, .menu__bebidas, .menu__acompanantes {
  background-color: #8fb339; }

.barrio__belgrano {
  color: red; }

.barrio__nunez {
  color: violet; }

.barrio__colegiales {
  color: brown; }

.barrio__urquiza {
  color: pink; }

.oportunidades__enviar {
  color: pink; }

.menu__papas {
  color: red;
  font-size: 20rem; }
