$verdemanzana: #8fb339;

.header__wallstreet {
    background-color: $verdemanzana;
}

.nav-item {
    background-color: $verdemanzana;
}

footer {
    background-color: $verdemanzana;
}

.menu__fotos {
    border: solid $verdemanzana;
}

.menu__hamburguesas, .menu__bebidas, .menu__acompanantes {
    background-color: $verdemanzana;
}

// mapa

$locales: (
belgrano:red,
nunez: violet,
colegiales: brown,
urquiza: pink,
);

@each $local, $color in $locales {
    .barrio__#{$local} {
        color: $color;
    }
}

// extend

.oportunidades__enviar {
    @extend .header__wallstreet;
    color: pink;
}

// mixin

@mixin desafiocoder ($color, $fontsize) {
    color: $color;
    font-size: $fontsize;
}

.menu__papas {
    @include desafiocoder(red, 20rem)
}





