.menu__container {
    display: grid;
    grid-template-areas: 
    "burga burga side side"
    "bronx queens papas batatas"
    "manhattan brooklyn bebida bebida"
    "bigapple wallstreet gaseosa agua";
    justify-items: center;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;
}
.menu__fotos {
    height: 6rem;
    width: 6rem;
    border-radius: 80px;
    border: solid $verdemanzana;
}

.menu__bronx, .menu__queens, .menu__manhattan, .menu__brooklyn, .menu__bigapple, .menu__wallstreet, .menu__papas, .menu__batatas, .menu__gaseosa, .menu__agua {
    height: 10rem;
    width: 16rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bronx__descripcion, .queens__descripcion, .manhattan__descripcion, .brooklyn__descripcion, .bigapple__descripcion, .wallstreet__descripcion, .papas__descripcion, .batatas__descripcion, .gaseosa__descripcion, .agua__descripcion {
    text-align: justify;
    font-size: 0.8rem;
    margin-left: 0.7rem;
}

.menu__hamburguesas, .menu__bebidas, .menu__acompanantes {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    padding: 0.6rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: $verdemanzana;
}

.menu__bronx {
    grid-area: bronx;
}

.menu__queens {
    grid-area: queens;
}

.menu__manhattan {
    grid-area: manhattan;
}

.menu__brooklyn {
    grid-area: brooklyn;
}

.menu__bigapple {
    grid-area: bigapple;
    padding-bottom: 1.5rem;
}

.menu__wallstreet {
    grid-area: wallstreet;
    padding-bottom: 1.5rem;
}

.menu__papas {
    grid-area: papas;
}

.menu__batatas {
    grid-area: batatas;
}

.menu__gaseosa {
    grid-area: gaseosa;
    padding-bottom: 1.5rem;
}

.menu__agua {
    grid-area: agua;
    padding-bottom: 1.5rem;
}

.menu__hamburguesas {
    grid-area: burga;
    margin-top: 1.5rem;
} 

.menu__bebidas {
    grid-area: bebida;
    display: flex;
    flex-direction: row;
}

.menu__acompanantes {
    grid-area: side;
    margin-top: 1.5rem;
}