.nosotros__historia, .nosotros__vegan {
    text-align: justify;
    padding: 4rem;
}

.nosotros__historiaimg, .nosotros__veganimg {
    padding: 0;
    margin: 0;
}

.h2__vegan, .h2__historia {
font-family: 'Lobster', cursive;
text-align: center;
}