.oportunidades__container {
    background-color: black;
    justify-items: center;
    align-items: center;
    min-height: 25rem;
}
.oportunidades__texto {
    text-align: justify;
    color: white;
    padding: 3rem;
}

.oportunidades__enviar {
    border: none;
    background-color: $verdemanzana;
}

.oportunidades__imagen {
    // width: 100%;
    margin: 2rem;
    padding-left: 0;
    padding-right: 0;
}

